header {
  width: 100%;
  background-color: blue;
  height: 54px;
  font-size: 3rem;
  margin: 0
}
footer {
  width: 100%;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
a {
  position: relative;
  top: 400px;
  left: auto;
}
div.danger {
  top:200px;
  left: auto;
}
